# GitHub Linguist Configuration
# Explicitly define languages to ensure the "Mix" look.

*.py linguist-language=Python
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript

# Ensure templates and static are counted
templates/**/* linguist-detectable=true
static/**/* linguist-detectable=true

# Ignore images and non-code assets from the bar
static/images/**/* linguist-documentation=true
media/**/* linguist-documentation=true
*.png linguist-vendored
*.jpg linguist-vendored
*.webp linguist-vendored

# Treat PDF templates as HTML
templates/reports/*.html linguist-language=HTML
